/****** Set the height and width of divs ******/
:root {
    --height: 0px;
    --width: 0px;
}




/****** Create-div button ******/
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    width: 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
    cursor: pointer;
    z-index:5;
    position: absolute;
}

.button {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    display:inline-block;
}

#class-drop-zone{
    top: 15em;
    left: 10em;
    position:sticky;
}

    .button:hover {
        background-color: blue;
        color: white;
    }

/****** Drag-and-dropable divs ******/
.draggable {
    width: 250px;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 1%;
    touch-action: none;
    user-select: none;
    position: absolute;
    background-color: #5C5C5C;
    box-sizing: border-box;
    container-type: inline-size;
}

/****** SVG patch cords ******/

/* a div with these set as id='' will use them directly*/
#patchCords {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    stroke-linecap: round;
    z-index: 100;
}