
@using Microsoft.JSInterop
@inject IJSRuntime JS;
@inherits ClassComponentBase

@if (classes is null)
{
    <div class="spinner"></div>
}
else
{
    <div id="button" class ="button">
        <button class="button" @onclick="CreateClass">new E</button>
    </div>
    <div id="refreshButton" class="button">
        <button class="button" @onclick="Refresh">new E</button>
    </div>

    <div id="class-drop-zone"></div>
    @foreach (ClassModel classModel in classes)
    {
        <div id="@classModel.Id" class="draggable new" onclick="this.focus()" text-align="center">
            @*    <div id="flex">
        <div id="inner" contenteditable="true" onclick="this.focus()" placeholder="Enter text here..." display="inline-block"></div>
        </div>*@
            <ClassBodyComponent Id="@classModel.Id"></ClassBodyComponent>
        </div>
        <svg id="patchCords"></svg>
    }
}




@code {
    List<String> Values = new List<String> ();

    //geDiagramContainer

    private int _classCounter = 0;
    private String? IDName;

    private async Task Refresh()
    {
        await OnInitializedAsync();
    }
    private async Task CreateClass()
    {
        IDName = "class" + _classCounter;
        Values.Add(IDName);
        _classCounter++;
        System.Diagnostics.Debug.Print(IDName); 
        
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("testDragAndDrop", ".draggable");
            
        }
        await JS.InvokeVoidAsync("setInitialPos", "new");
    }
}

