<div class="row w-100 justify-content-center">
    <div id="tester" class="col  h-100">
        <div class="container">
            <textarea wrap="off" id="pseudo-code"></textarea>
        </div>
    </div>
</div>


@code {

}
