
<div id="@variableID" class="row w-100">
    <div class="col box d-flex flex-row justify-content-center">
        <div class="col-3 d-flex component-item">
            <div class="dropdown">
                <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @accessModifier
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        @if(isStatic)
        {
            <div class="col-3 d-flex component-item">
                <p>Static</p>
            </div>
        }
        <div class="col-3 d-flex component-item">
            <p>@type</p>
        </div>
        <div class="col-4 d-flex component-item">
            @*<div id="inner" contenteditable="true" onclick="this.focus()" placeholder="Name..."></div>*@
            <p>@name</p>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public required int variableID { get; set; }
    [Parameter]
    public required AccessModifier accessModifier { get; set; }
    [Parameter]
    public required bool isStatic { get; set; }
    [Parameter]
    public required string type { get; set; }
    [Parameter]
    public required string name { get; set; }
}
